body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color:rgb(68, 114, 166);
    font-family:'Outfit', sans-serif;
}

.card {
    width:320px;
padding:16px;
background-color: aliceblue;
border-radius: 20px;
text-align: center;

}
.card img{
    width:100%;
    border-radius: 10px;
    margin-bottom: 16px;
}
.card h2{
    font-size: 20px;
    font-weight: bolder;

}
.card p{
    color:gray;
    font-size:15px;

}